<div [class]="'fact-tile fact-tile-'+[colour]" [style]="[style]">
	<div class="align-items-center d-flex fact-inner justify-content-center">
		<h1 *ngIf="fact || fact === 0">
			<strong>{{fact}}</strong>
			<small *ngIf="trend">
        <i [class]="trendcssclass" aria-hidden="true"></i>
        {{trend}}
			</small>
		</h1>
		<h1 [hidden]="fact || fact === 0"><i class="fa fa-spinner fa-pulse"></i></h1>
	</div>
	<div [class]="'align-items-center align-items-end d-flex fact-footer justify-content-center ' + [paddingClass]">
			<span>
				<small>{{desc}}</small>
			</span>
	</div>
</div>