@import "~bootstrap/scss/bootstrap";

/* Add application styles & imports to this file! */
@import "variables.scss";

@mixin fact-tile-variant($bg) {
  color: color-yiq($bg);
  background-color: $bg;
  transition: background-color 0.5s ease;
}

@mixin fact-tile-footer-variant($bg) {
  color: color-yiq(darken($color: $bg, $amount: 8));
  background-color: darken($color: $bg, $amount: 8);
  transition: background-color 0.5s ease;
}

$fact-tile-colors: () !default;
$fact-tile-colors: map-merge(
  (
    "navy": $navy,
    "blue": $govt-blue,
    "light-blue": $light-blue,
    "purple": $purple,
    "red": $red,
    "orange": $orange,
    "teal": $teal,
    "gray": $gray
  ),
  $fact-tile-colors
);

@each $color, $value in $fact-tile-colors {
  .fact-tile-#{$color} {
    @include fact-tile-variant($value);

    .fact-footer {
      @include fact-tile-footer-variant($value);
    }
  }
  a .fact-tile-#{$color} {
    &:hover {
      background-color: lighten($value, 10);

      .fact-footer {
        background-color: lighten($value, 4);
      }
    }
  }
}

a.fact {
  text-decoration: none;
}

.fact-tile {
  height: 133px;
  width: 183px;
  margin-bottom: 10px;

  h1 {
    margin: 0;
  }

  i {
    text-align: center;
  }

  .fact-inner {
    height: 60%;
  }

  .fact-footer {
    height: 40%;
  }

  i.trendUp {
    color: $lime;
    font-weight: bold;
  }
  i.trendDown {
    color: $fuchsia;
    font-weight: bold;
  }
}
