@import "~bootstrap/scss/bootstrap";

/* Add application styles & imports to this file! */
@import "./styles/variables";

@import "variables.scss";

@mixin fact-tile-variant($bg) {
  background-color: $bg;
  transition: background-color 0.5s ease;
}

// TODO: there must be a way to define this is as a nested style in the mixin above, to avoid repition
@mixin fact-tile-box-variant($bg) {
  background-color: darken($color: $bg, $amount: 8);
  transition: background-color 0.5s ease;
}

$fact-tile-colors: () !default;
$fact-tile-colors: map-merge(
  (
    "navy": $navy,
    "blue": $govt-blue,
    "purple": $purple,
    "red": $red,
    "orange": $orange,
    "teal": $teal,
    "gray": $gray
  ),
  $fact-tile-colors
);

@each $color, $value in $fact-tile-colors {
  .fact-tile-#{$color} {
    @include fact-tile-variant($value);

    .fact-footer {
      @include fact-tile-box-variant($value);
    }
  }
  a .fact-tile-#{$color} {
    &:hover {
      background-color: lighten($value, 10);

      .fact-footer {
        background-color: lighten($value, 4);
      }
    }
  }
}

.fact-tile {
  height: 128px;

  h1 {
    color: $white;
    text-align: center;
    padding: 20px 5px 10px 5px;
  }

  i {
    color: $white;
    text-align: center;
  }

  h4 {
    color: $white;
    text-align: center;
    padding: 15px 5px 0px 5px;
  }

  small {
    color: $white;
    text-align: center;
    padding: 0 5px;
  }

  p {
    color: #fff;
    text-align: center;
    padding: 0 5px;
  }

  .fact-inner {
    height: 75px;
    text-align: center;
  }

  .fact-padding1 {
    padding-top: 15px;
  }
  .fact-padding2 {
    padding-top: 5px;
  }
  .text-inner {
    min-height: 66px;
  }
  .fact-footer {
    line-height: 50px;
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  i.trendUp {
    color: $lime;
    font-weight: bold;
  }
  i.trendDown {
    color: $fuchsia;
    font-weight: bold;
  }
}
