/*
  Colors
*/
$navy: #201547;
$govt-blue: #004EA8;
$light-blue: rgb(160, 176, 194);
$purple: #87189D;
$red: #AF272F;
$teal: #00B7BD;
$orange: #F39600;
$dark-grey: #53565A;
$light-gray: #D9D9D6;
$black: #000;
$white: #fff;
$incompletedata: #faeeee;
$gray: gray;
$color-microsoft: #1676A0;
$color-apple: #d70060;
$color-microsoft-back: #1676A0;
$color-apple-back: #d70060;
$gainsboro: gainsboro;
$lime: #78BE1F;
$fuchsia: #C63663;
